body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

.header {
    background-color: #fff;
    width: 100%;
}

.header__logo {
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    float: left;
}

.header__nav {
    clear: left;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav  li {
    list-style: none;
    background-color: #242a25;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header__nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px;
}

.header__nav a:hover {
    transition: 0.3s ease;
    color: #63c6ae;
}

.inicio {
    background-image: url(../img/herobg.jpg);
    background-size: cover;
    padding: 40px 20px;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio__h1 {
    background-color: #63c6ae;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
}

.inicio__p {
    background-color: #242a2c;
    margin: 5px 30px 20px;
    color: white;
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase;
}

.inicio__btn {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}